@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio{
    padding: 3rem 0;
    
}
.portfolio-box{
  position: relative;
  width: 100%;
  height: 18.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-top: 0.55rem solid rgba($primary, 0.45);
  
  img{
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }

  .portfolio__info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($primary, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
   
    
    .caption{
       color: $white;
       text-align: center;

        h4{
            display: block;
            text-transform: uppercase;
            font-size: 1.3rem;
            @include media-breakpoint-down(md){
                font-size: 1.5rem;
            }
        }
    }
  }

  &:hover{
   img{
    transform: scale(1.2);
    transition: 1s all;
   }
   .portfolio__info{
    opacity: 1;
    visibility: visible;
    transition: 1s all;
   }
  }
}