@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
    @include gradient;
    a{
        color: $white;
    }
    li{
        padding: 0 0.7rem;
       
        @include media-breakpoint-down(lg){
            padding: 0.4rem 0;
        }
        a{
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
            padding: 0 0.7rem;
        }
    }
}