@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    &--description {
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        font-weight: 500;
        @include media-breakpoint-up(lg){
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

//heading line
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    background-color: $primary;
    display: block;
    margin: 0 auto;
}
.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.5rem;
    background-color: $primary;
    display: block;
    margin: 0 auto;
}

.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: capitalize;
        background-image: linear-gradient(to right, $primary, $secondary);
        display: inline-block;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
    }
}

// BORDER RIGHT 
.border-right {
    border-right: 0;

    @include media-breakpoint-up(sm) {
        border-right: 0.1rem solid $gray-300;
        height: 100%;
    }
}